<div class="inner">
  <div class="inner__top">
    <div class="top__top">
      Welcome to CD samurai,
    </div>
    <div class="top__middle">
      <div class="top__middle--top">
      We all expect you’ll take a great CD trip in our site.<br>
      Hopefully, get some cd’s you prefer.
      </div>
      <div class="top__middle--bottom">
        We are here to help you meet with brilliant songs.
      </div>
    </div>
    <div class="top__bottom">
      <p class="top__bottom--top">Sincerely,</p>
      <p class="top__bottom--bottom">- Steve Teyoung</p>
    </div>
  </div>
</div>
